body{
    background-color:#f4f4f4;
    color:#555;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height: 1.6em;
    margin:5px;
}

.container{
    width:70%;
    margin:auto;
    overflow:hidden;
    transform: rotate(360deg) translate(-20px);
    transition: 1s;
}

#main-header{
    background-color: coral;
    color: #fff;
}

#showcase{
    background-image: url('kandy.jpg');
    background-position: center right;
    height: 50%;

    margin-bottom: 30px;
    text-align: center;
}

#navibar{
    background-color: #333;
    color:#fff;
    padding: 20px;
    text-align: center;
}

#navibar a{
    padding-left: 20px;
    font-size: large;
}


#main{
    float:left;
    width:70%;
    padding:0 30px;
    box-sizing: border-box;
}

.box-1{
    background-color: #333;
    color: #fff;
    border: 10px coral solid;
    border-width: 7px;
    padding: 30px;
}
.box-2{
    color: black;
    padding: 50px;
}

.box-3{
    color: white;
    background-color: brown;
    padding: 20px;
    margin-left: 40%;
    margin-top: 40px;
}

.box-4{
    background-color: #333;
    color: #fff;
    border: 10px coral solid;
    border-width: 7px;
    padding: 30px;
    width: 240px;
}

div.test{
    top: 0px;  
  }
  img{
      margin: 5px;
  }

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color: #fbbc05;
    text-transform: uppercase;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

.text-block {
    position: absolute;
    top: 280px;
    left: 110px;
    color:rgb(192, 65, 18);
    font-size: 80px;
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .my-form{
      padding: 20px;
      padding-left: 50px;
      padding-bottom: 20px;
  }

  .form-group{
    padding-bottom: 15px;
  }

  .my-form label{
      display: block;
  }

  .my-form input[type="text"], .my-form textarea{
      padding: 8px;
      width:100%;
  }

  .my-form input[type="submit"]{
      background-color: #333;
      color: #fff;
      padding: 10px 15px;
      border:none;
  }


  /*Pluz effect*/
  .pulse{
    position: absolute;
    border-radius: 50%;
    animation: grow 1s infinite ease-in-out;
}
.pulse:nth-child(n){
    width: 100px;
    height: 100px;
    border: 1px solid #fbbc05; /* yellow */
    box-shadow: 0 0 10px #fbbc05;
}
.pulse:nth-child(2n){
    width: 50px;
    height: 50px;
    border: 1px solid #34a853; /* green */
    box-shadow: 0 0 10px #34a853;
}
.pulse:nth-child(3n){
    width: 150px;
    height: 150px;
    border: 1px solid #4285F4; /* blue */
    box-shadow: 0 0 10px #4285F4;
}
.pulse:nth-child(4n){
    width: 70px;
    height: 70px;
    border: 1px solid #DB4437; /* red */
    box-shadow: 0 0 10px #DB4437;
}
@keyframes grow{
    0%{
        transform: translate(-50%,-50%) scale(.5);
    }
    50%{
        transform: translate(-50%,-50%) scale(1);
    }
    100%{
        transform: translate(-50%,-50%) scale(.5);
    }
}


#forest{
    border: 10px solid white;
}


.flex-box-padme{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.flex-box-padme img{
    width: 300px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1px;

}

.flex-box-padme img:hover{
      transform: scale(1.1);
      border: 2px solid red;
} 

.flex-box-images h4{
    position: relative;
    text-align: center;
    font-size: larger;
}
